import unittest
from addition import add

class TestAddition(unittest.TestCase):

    def test_positive_numbers(self):
        self.assertEqual(add(5, 7), 12)

    def test_negative_numbers(self):
        self.assertEqual(add(-3, -6), -9)

    def test_mixed_numbers(self):
        self.assertEqual(add(-4, 10), 6)

    def test_floats(self):
        self.assertAlmostEqual(add(2.5, 3.1), 5.6)

if __name__ == '__main__':
    unittest.main()
